.sec{
    border-radius: 15px;
}
.img2{
    height: 400px;
}
.sec4{
    padding: 30px;
}
.sec5{
    padding: 50px;
}
.sec7{
    height: 400px;
    width: 3033px;
}
.main-img{
   border: 3px solid blue;
    height: 400px;
    width: 400px;
}